bottomPCB/lib/sarcat.bak

bottomPCB/bottomPCB.kicad_prl
bottomPCB/bottomPCB-backups/

bottomPCB/#auto_saved_files#
bottomPCB/~bottomPCB.kicad_sch.lck
bottomPCB/~bottomPCB.kicad_pcb.lck

bottomPCB/bottomPCB.kicad_sch-bak
bottomPCB/bottomPCB.kicad_pcb-bak
bottomPCB/fp-info-cache
